{% extends "base.html" %}
{%  block content %}
  <div class="jumbotron" style="text-align: center;">
    <h1 > Propaganda Detection and Annotation </h1>
  </div>
  <div style="text-align: center;">
    <p>This website allows you to both check Propaganda Detection as well as Annotate new sentences according to the Propaganda Techniques.</p>
  </div>
  <div>
    <img src="https://drive.google.com/uc?export=view&id=1eCsjNAtjXuXfqBLxeEnsBpOikUO06msr" style=" display: block; margin-left: auto; margin-right: auto; width: 50%; bottom: 10px;">
    
  </div>
{%  endblock %}